<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
    <add name="otomasyon.Properties.Settings.otomasyonConnectionString" connectionString="Data Source=DESKTOP-V35AOV1\YENI;Initial Catalog=otomasyon;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="masterEntities" connectionString="metadata=res://*/Fonksyonlar.Model1.csdl|res://*/Fonksyonlar.Model1.ssdl|res://*/Fonksyonlar.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V35AOV1\YENI;user id=SA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="otomasyonEntities" connectionString="metadata=res://*/Fonksyonlar.Model1.csdl|res://*/Fonksyonlar.Model1.ssdl|res://*/Fonksyonlar.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V35AOV1\YENI;initial catalog=otomasyon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <SqlUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=DESKTOP-V35AOV1\YENI;Persist Security Info=False;User ID=SA;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=DESKTOP-V35AOV1\YENI;Persist Security Info=False;User ID=SA;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" CommandTimeout="30" />
  </SqlUnitTesting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>